.cf-facebook-albums {
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;    
}

.cf-facebook-album {
    width: 400px;
    /*border: 1px solid gray;*/
    box-shadow: 1px 1px 3px #888;
    min-height: 120px;
    padding:0;
    margin: 5px;
    
    div {
        float:left;
        margin:10px;
        max-width: 250px;        
    }
    
    i { margin-right: 10px;}
    
    strong {
        background-color: gold;
        padding:5px;
        font-size: 12px;
        white-space: nowrap;
        font-weight: bold;
    }
}